[ConnectionSettings]
REDIS_URL: localhost
HASH: sensor_data
CITY_PREFIX:  dublin_ways

[SensorsAvailable]
sensor1 : Noisetube


[Noisetube]
# URL where the webservice that retrieves data from sensors is located
url : http://noisetube.net/users/3099/fetch

# Name of the parser inside module 'sensorparsers' that can parse data returned 
# by the webservice_url above
parser: sensorparsers.create_noise_sensor_hash

# Directory where the sensor parser stores the aggregated data
dirname: sensor_readings/noise/
filename: latest_readings.xml

# The number of metres where the sensor's readings propagate to
propagation: 150




